html
    head
        title= title
    body
        div
            div
                h3 Redirecting to ...
    script.
        code = "#{code}";
        type = "#{type}";
        error = "#{error}";
        accessToken = "#{accessToken}";
        shop = "#{shop}";

        const fireMessage = () => {
            const data = {
                type,
                code,
                error,
                accessToken,
                shop
            };

            const stringifyData = JSON.stringify(data);

            if (window && window.opener) {
                window.opener.postMessage(stringifyData, '*');

                window.close();
            }
        };

        fireMessage();
