doctype html
html(lang='en')
    head
        title= '3RD'
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    body
        script.
            ST_HOST = '#{ST_HOST}';
            ASSETS_URL = '#{ASSETS_URL}';
            API_HOST = '#{API_HOST}';
            API_HOST_V3 = '#{API_HOST_V3}';
            API_LOGGING = '#{API_LOGGING}';
            API_LOGGING_ERROR = '#{API_LOGGING_ERROR}';
            ADX_SITE_URL = '#{ADX_SITE_URL}';
            ADX_API_HOST = '#{ADX_API_HOST}';
            ADX_API_HOST_V3 = '#{ADX_API_HOST_V3}';
            API_ID = '#{API_ID}';
            ST_VERSION = '#{ST_VERSION}';
            ST_URL_UPLOAD = '#{ST_URL_UPLOAD}';
            SITE_URL = '#{SITE_URL}';
            PROJECT_ID = '#{PROJECT_ID}';
            APPLICATION_ENV = '#{APPLICATION_ENV}';
            U_OGS = '#{U_OGS}';
            AUTH_ADX_DOMAIN = '#{AUTH_ADX_DOMAIN}';
            ST_OGS = '#{ST_OGS}';
            ANTALYSER_MODULE = '#{ANTALYSER_MODULE}';
            LANGUAGE = '#{LANGUAGE}';
            DEVICE = '#{DEVICE}';
        div#root
    script(type='text/javascript', src=`${ASSETS_URL}/main.bundle.js`)
    script(type='text/javascript', src=`${ASSETS_URL}/vendor.js`)