doctype html
html(lang='en')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= 'Form'
    body
        script.
            VERSION = "#{VERSION}"
            SITE_URL = "#{SITE_URL}"
            API_HOST = "#{API_HOST}"
            API_HOST_V3 = "#{API_HOST_V3}"
            API_LOGGING = "#{API_LOGGING}"
            API_LOGGING_ERROR = "#{API_LOGGING_ERROR}"
            API_ID = "#{API_ID}"
            PROJECT_ID = "#{PROJECT_ID}"
            U_OGS = "#{U_OGS}"
            AUTH_ADX_DOMAIN = "#{AUTH_ADX_DOMAIN}"
            ST_OGS = "#{ST_OGS}"
            UPLOAD_URL = "#{UPLOAD_URL}"
            LOGO_MAIN = "#{LOGO_MAIN}"
            LOGO_SUB = "#{LOGO_SUB}"
            ASSETS_URL = "#{ASSETS_URL}"
            APPLICATION_ENV = "#{APPLICATION_ENV}"
            SUBMISSION_API = "#{SUBMISSION_API}"
            PAGEVIEW_API = "#{PAGEVIEW_API}"
            PERMISSION_DOMAIN = "#{PERMISSION_DOMAIN}"
            STATIC_DOMAIN = "#{STATIC_DOMAIN}"
            C0_DOMAIN = "#{C0_DOMAIN}"
            APP_ID = "#{APP_ID}"
        div#root
    script(type='text/javascript', src=`${ASSETS_URL}/main.bundle.js?v=${VERSION}`)
    script(type='text/javascript', src=`${ASSETS_URL}/vendor.js?v=${VERSION}`)

